<h2>About Us</h2>
<p> Welcome to <span style="color: green">I</span><span style="color: red">D</span><span style="color: blue">E</span> Hangout Community. We are a community of Investors Developers, and Entrepreneurs who are keen in meeting one another and exchange ideas and news.</p>